<!DOCTYPE html>
<html>

   <head>
      <title>Exercise Tracker</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Exercise tracker</h1>
          <form action="/api/exercise/new-user" method="post">
            <h3>Create a New User</h3>
            <p><code>POST /api/exercise/new-user</code></p>
            <input id="uname" type="text" name="username" placeholder="username">
            <input type="submit" value="Submit">
          </form>
          <form action="/api/exercise/add" method="post">
            <h3>Add exercises</h3>
            <p><code>POST /api/exercise/add</code></p>
            <input id="uid" type="text" name="userId" placeholder="userId*">
            <input id="desc" type="text" name="description" placeholder="description*">
            <input id="dur" type="text" name="duration" placeholder="duration* (mins.)">
            <input id="dat" type="text" name="date" placeholder="date (yyyy-mm-dd)">
            <input type="submit" value="Submit">
          </form>
          <p>
            <strong>GET all users: </strong>
            <code>GET /api/exercise/users</code><br>
            <strong> Example: </strong><a href="/api/exercise/users">[this_project_url]/api/exercise/users</a>
          </p>
          <p>
            <strong>GET user's exercise log: </strong>
            <code>GET /api/exercise/log?{userId}[&amp;from][&amp;to][&amp;limit]</code><br>
            <strong> Example: </strong><a href="/api/exercise/log?userId=5ede1c86bf68903dff30ae3d&from=2020-05-23&to=2020-06-08&limit=4">[this_project_url]/api/exercise/log?userId={your_id_here}</a>
          </p>
          <p><strong>{ }</strong> = required, <strong>[ ]</strong> = optional</p>
          <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      </div>
     <footer>
       &copy; Victor Yanev 2020
     </footer>
   </body>

</html>